<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosso dia 🤎❤️‍🩹</title>
    <link rel="stylesheet" href="../style/declaracao.css">
</head>

<body>
    <header>
        <div class="coracaoHeader2">
            <img src="../img/imagens decoraçao/coraçao.png" alt="">
        </div>

        <div class="pai2D">
            <div id="div01D">

            </div>

            <div class="div02D">
                <div class="botoesD">
                    <ol>
                        <li>
                            <button><a href="/declaracao.html">Declaraçao</a></button>
                        </li>

                        <li>
                            <button><a href="declaracao.html">Sobre</a></button>
                        </li>
                    </ol>
                </div>
            </div>

            <div id="div03D">

            </div>
        </div>

    </header>

    <section>
        <div class="meioD">
            <ol class="elementosDeclaracao">
                <li>
                    <img id="olhos" src="../img/NÓS/olhos.png" alt="olhos">
                </li>

                <li>
                    <button>
                        cjdjdj
                    </button>
                </li>

                <li>
                    <img id="sorriso" src="../img/NÓS/sorriso.png" alt="sorriso ">
                </li>
            </ol>
        </div>

    </section>




    <footer>
        <div class="paiFooter3D">
            <div id="div1FD">
                <p>..</p>
            </div>

            <div id="div2FD">
                <img src="../img/imagens decoraçao/coraçao.png" alt="Coração">
            </div>

            <div id="div3FD">
                <p>..</p>
            </div>
        </div>
    </footer>

</body>

</html>