<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Declaração - Carrossel Horizontal Infinito</title>
    <link rel="stylesheet" href="../style/nos.css">
</head>
<body>

    <header class="main-header">
        <div class="header-heart-center">
            <img src="../img/imagens decoraçao/coraçao.png" alt="Coração">
        </div>

        <div class="header-flex-container">
            <div id="header-line-left"></div>
            
            <div class="header-nav-center">
                <div class="header-buttons-wrapper">
                    <ol>
                        <li>
                            <a href="declaracao.html">
                                <button class="btn-nav-custom">Declaração</button>
                            </a>
                        </li> 
                        <li>
                            <a href="pag2.html"> 
                                <button class="btn-nav-custom">Início</button>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
            
            <div id="header-line-right"></div>
        </div>
    </header>

    <main class="main-content">
        <div class="carousel-wrapper">
            <div class="carousel-track" id="track">
                <div class="slide"><img src="../img/carrosel/20251213_192153886_iOS.jpg" alt="Nosso Momento 1"></div>
                <div class="slide"><img src="../img/carrosel/20260103_141546952_iOS.jpg" alt="Nosso Momento 2"></div>
                <div class="slide"><img src="../img/carrosel/20260107_221614946_iOS.jpg" alt="Nosso Momento 3"></div>
                <div class="slide"><img src="../img/carrosel/20260111_220855095_iOS.jpg" alt="Nosso Momento 4"></div>
                <div class="slide"><img src="../img/carrosel/20260117_221201427_iOS.jpg" alt="Nosso Momento 5"></div>
                <div class="slide"><img src="../img/carrosel/20260131_214816096_iOS.jpg" alt="Nosso Momento 6"></div>
                <div class="slide"><img src="../img/carrosel/20260228_214101852_iOS.jpg" alt="Nosso Momento 7"></div>
            </div>
        </div>

        <div class="carousel-controls">
            <button class="control-btn" id="prevBtn">&#8592;</button>
            <button class="control-btn" id="nextBtn">&#8594;</button>
        </div>
    </main>

    <footer class="main-footer">
        <div class="footer-flex-container">
            <div id="footer-line-left"></div>
            
            <div id="footer-heart-center">
                <img src="../img/imagens decoraçao/coraçao.png" alt="Coração">
            </div>
            
            <div id="footer-line-right"></div>
        </div>
    </footer>

    <script src="../js/script.js"></script>
</body>
</html>