<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosso dia ❤️‍🩹</title>
    <link rel="stylesheet" href="../style/pag2.css  ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>

        <div class="coracaoHeader">
            <img src="../img/imagens decoraçao/coraçao.png" alt="">
        </div>

        <div class="pai2">
            <div id="div01">

            </div>

            <div class="div02">
                <div class="botoes">
                    <ol>
                        <li>
                            <button><a href="../components/declaracao.html">Declaração</a></button>
                        </li>

                        <li>
                            <button><a href="../components/declaracao.html">Sobre</a></button>
                        </li>
                    </ol>
                </div>
            </div>

            <div id="div03"></div>
        </div>


    </header>

    <section>

        <div class="meio">

            <div class="imagens ">
                <img id="rodizio" src="../img/NÓS/rodizio.jpg" alt="rodizio">
                <img id="festaJunina" src="../img/NÓS/20251211_102303000_iOS.jpg" alt="junina">
            </div>

            <div class="texto1">
                <button>
                    Feliz 2 anos minha pretinha, acho que nao tem jeito melhor
                    de começar isso dizendo o quanto eu te amo, voce é a coisa mais importante
                    da minha vida, então quis dar essa pagina web como presente para que sempre que quiser
                    lembrar de nós e ler isso é vir aqui
                </button>
            </div>

        </div>
    </section>

    <footer>
        <div class="paiFooter3">
            <div id="div1F01">
                <p>..</p>
            </div>

            <div id="div2F02">
                <img src="../img/imagens decoraçao/coraçao.png" alt="Coração">
            </div>

            <div id="div3F03">
                <p>..</p>
            </div>
        </div>
    </footer>



</body>

</html>